<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="unstyled center list-circle-icons list-circle-icons-small">
          <li><a href="#" title="" data-rel="tooltip" data-toggle="tooltip" data-original-title="Like us on Facebook"><span class="fa fa-facebook"></span></a></li>
          <li><a href="#" title="" data-rel="tooltip" data-toggle="tooltip" data-original-title="Follow us on Twitter"><span class="fa fa-twitter"></span></a></li>
          <li><a href="#" title="" data-rel="tooltip" data-toggle="tooltip" data-original-title="Follow us on Pinterest"><span class="fa fa-pinterest"></span></a></li>
          <li><a href="#" title="" data-rel="tooltip" data-toggle="tooltip" data-original-title="Follow us on Google Plus"><span class="fa fa-google-plus"></span></a></li>
        </ul>
        <p>© Copyright 2014. Viewers</p>
      </div><!-- end col -->
    </div><!-- end row fluid -->
  </div><!-- end container -->
</footer>