<div class="wrapper">
  <h1 class="text-center">bienvenue</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class= "content" id="matches">
        <p><span>LATESTS</span> MATCHES</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="content" id="contact">
       <p>A <span>POWERFUL</span> TOOL</p>
       <div id="mailing">
        <p class="text-center">Le mailing ici</p>
       </div>
      </div>
    </div>
  </div>
</div>