<!-- Define time -->
<%= f.input :time %>

<!-- Pick player -->
<select name="event[player_ids][]" id="event_player_ids" class="form-control">
  <option value="">Select player</option>
  <% @match.participants.each do |participant| %>
    <option value=<%=participant.player.id%>><%=participant.player.name%></option>
  <% end %>
</select>