<h1>Event Creation</h1>

<%= simple_form_for([@match, @event], html: { multipart: true }) do |f| %>
  <!-- select category -->
  <%= f.input :category %>


  <!-- Pick player -->



  <!-- Define time -->


  <!-- Pick on map -->


  <%= f.button :submit, class: 'btn btn-danger btn-lg' %>
<% end %>