@import "navbar";
@import "footer";
@import "home";
@import "map";
@import "match";
@import "event";

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-image: asset_url('escheresque_ste.png');
  color: white;
  padding-top: 50px;
}

.hidden {
  display: none;
}

.vertical-spacer {
  height: 30px;
}