.team1 {
  display: inline-block;
  float: left;
  padding-bottom: 20px;
}

.score {
  display: inline-block;
}

.team2 {
  display: inline-block;
  float: right;
  padding-bottom: 20px;
}

.match_pic {
  width: 500px;
  height: 500px;
}

#marked {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: auto;
}

#timeline {
  width: 100%;
  height: 2px;
  background: linear-gradient(lightblue, white);
  margin-bottom: 40px;
}

.event_unit label.active img {
  border: thin solid yellow;
}

#participant_name {
  text-align: right;
}
